[package]
name = "rmp-serde"
version = "0.14.0"
authors = ["Evgeny Safronov <division494@gmail.com>"]
license = "MIT"
description = "Serde bindings for RMP"
repository = "https://github.com/3Hren/msgpack-rust"
documentation = "https://docs.rs/rmp-serde"
readme = "../README.md"
keywords = ["msgpack", "MessagePack", "serde", "serialization"]
categories = ["encoding"]

[dependencies]
byteorder = { git = "https://github.com/baidu/rust-sgx-sdk.git", rev = "v1.0.0" }
serde = { git = "https://github.com/baidu/rust-sgx-sdk.git", rev = "v1.0.0" }
rmp = { path = "../rmp" }

sgx_tstd = { git = "https://github.com/baidu/rust-sgx-sdk.git", rev = "v1.0.0" }

[dev-dependencies]
serde_bytes = "0.10"
serde_derive = "1"
